<!-- <p id="notice"><%= notice %></p>

<h1>Video Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Analysis</th>
      <th>Device</th>
      <th>Editor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_games.each do |video_game| %>
      <tr>
        <td><%= video_game.title %></td>
        <td><%= video_game.description %></td>
        <td><%= video_game.device %></td>
        <td><%= video_game.editor %></td>
        <td><%= link_to 'Show', video_game %></td>
        <td><%= link_to 'Edit', edit_video_game_path(video_game) %></td>
        <td><%= link_to 'Destroy', video_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
<h1 style="color:grey;">La liste des jeux videos</h1>


   <% @video_games.each do |video_game| %>
   <ul>
    <h2> <%= link_to(video_game.id, video_game_path({ id: video_game.id})) %> Video Game n°<%= video_game.id %></a></h2>
    <li>
      Titre : <%= video_game.title %>
    </li>
    <li>
      Description : <%= video_game.description %>
    </li>
    <li>
      Sur : <%= video_game.device %>
    </li>
    <li>
      Fait par : <%= video_game.editor %>
    </li>
    <!--  -->
  </ul>

   <% end %>

<%= link_to 'New Video Game', new_video_game_path %>
