<%= form_for(analysis) do |f| %>
  <% if analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analysis.errors.count, "error") %> prohibited this analysis from being saved:</h2>

      <ul>
      <% analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :video_game_id %>
    <%= f.number_field :video_game_id %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :posted_ad %>
    <%= f.datetime_select :posted_ad %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
